<div class="container">
    <ng-progress></ng-progress>
    <div class="head bg-info p-3"></div>
    
    <app-search></app-search>

    <!-- Header Section -->
    <div class="user-content">
        <div class="user-avatar">
            <img src="{{user.avatar_url}}" alt="profile">
        </div>
        <div class="user-info">
            <p class="user-name">{{user.name}}<br>
                <span>{{user.login}}</span>
            </p>

            <div class="user-extra">
                <span>{{user.public_repos}}</span>&nbsp;
                <p>Repositories</p>
                &nbsp;&nbsp;&nbsp;

                <span>{{user.followers}}</span>&nbsp;
                <p>Followers</p>
                &nbsp;&nbsp;&nbsp;

                <span>{{user.following}}</span>&nbsp;
                <p>Following</p>
            </div>

            <div class="github-button">
                <a href="{{user.html_url}}" target="_blank"><button><img src="assets/github-logo.png"
                            alt="button-logo">&nbsp;&nbsp;GITHUB</button></a>
            </div>
        </div>
    </div>


    <!-- Repositories -->
    <section id="repos">
        <div class="row mt-5">
            <h1 class="text-info">Repositories</h1>
            <div class="col-md-3 mt-4" *ngFor='let repo of repositories'>
                <div class="card h-100">
                    <div class="card-header p-3 bg-info">
                        <h5 appStrikethrough>{{repo.name}}</h5>
                    </div>
                    <div class="card-body">
                        <p>Description: <span class="card-text">{{repo.description | slice:0:40}}...</span></p>
                        <p>Language: <span>{{repo.language}}</span></p>
                        <p>Created: <span>{{repo.created_at | date }}</span></p>
                    </div>
                    <div class="card-footer bg-info p-3">
                        <a href="{{repo.html_url}}" target="_blank"><button>View</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>